.khan__buy-link {
  margin-left: 48px;
  line-height: 42px;
  font-size: 30px;
  color: #2f80ed;
  text-decoration: none;
  font-weight: normal;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.khan__buy-link:hover {
  opacity: 0.65;
}
